<div id="<%= dom_id proyect %>">
  <th>    
    <%= proyect.id %>
    <span style="color: red;">Recuerde este ID, lo necesitará para pagar</span>
  </th>
  <td><%= proyect.name %></td>
  <td><%= proyect.lastname %></td>
  <td><%= proyect.rut %></td>
  <td><%= proyect.email %></td>
  <td><%= proyect.region %></td>
  <td><%= proyect.description %></td>
</div>
