<div id="<%= dom_id proyect %>">
  <p>
    <strong>Name:</strong>
    <%= proyect.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= proyect.lastname %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= proyect.rut %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= proyect.email %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= proyect.region %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= proyect.description %>
  </p>

</div>
