<div id="<%= dom_id payment %>">
  <p>
    <strong>Card:</strong>
    <%= payment.card %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= payment.number %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= payment.expiration %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= payment.monto %>
  </p>

  <p>
    <strong>Proyect:</strong>
    <%= payment.proyect_id %>
  </p>

</div>
